#header-img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin: 5px;
}
#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: rgb(41, 2, 2);
  background-color: #ffe47e;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgb(245, 80, 80);
}
.site-name {
  font-size: 45px;
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
  color: rgb(41, 2, 2);
  text-shadow: 2px 2px darkgoldenrod;
}

#about-us {
  text-align: center;
  font-size: 30px;
  padding-top: 0;
}
body {
  background-color: #fff4ca;
  font-family: "Bubblegum Sans", cursive;
}
h2 {
  color: rgb(75, 2, 2);
}
#video {
  display: block;
  margin: auto;
  box-shadow: 0px 2px 2px rgb(170, 102, 13);
}
.products {
  text-align: center;
  font-size: 30px;
}
#form {
  background-color: #cad5ff;
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#submit {
  border-color: #ffe47e;
  color: rgb(41, 2, 2);
  font-weight: 500;
  text-shadow: 2px;
  box-shadow: 0 0 40px 40px #ffe47e inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  height: 40px;
  width: 75px;
  text-transform: uppercase;
}

#submit:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: rgb(245, 80, 80);
}
#title {
  text-align: center;
  font-size: 30px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}

.menu {
  font-family: sans-serif;
  font-size: 14px;
  font-family: "Bubblegum Sans", cursive;
}

.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}
.menu-item {
  display: flex;
}
.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}
.menu-item-text {
  flex-grow: 1;
}
.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-description {
  line-height: 1.6;
}
@media screen and (min-width: 992px) {
  .menu {
    font-size: 16px;
  }

  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
